body {
  margin: 0;
  font-size: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #797873;
  overflow: hidden;
}

.status-bar {
  background-color: #0677ba;
  border-bottom: 1px solid #22303e;
  width: 100%;
  height: 60px;
  z-index: 100;
  box-sizing: border-box;
}
.logo {
  margin: 16px;
  height: 24px;
}

#game {
  position: fixed;
  top: 60px;
  right: var(--right);
  width: 300px;
  height: 450px;
  background-color: #FAF9F7;
  overflow: hidden;
  transform-origin: top right;
  transform: scale(var(--scale));
}
.floating {
  position: absolute;
  top: 0;
  left: 50%;
}
.post {
  background-color: white;
  padding: 5px;
  font-size: 12px;
  width: 200px;
  height: 100px;
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 50px;
  background-size: 40px;
  background-position: 5px 5px;
  background-repeat: no-repeat;
  color: #333;
  line-height: 1.4;
  user-select: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: -50px -100px;
}
.post::before {
  color: #4479b3;
  font-weight: bold;
  display: block;
}
.post-by-munkler {
  background-image: url('./images/munkler.png');
}
.post-by-munkler::before {
  content: 'Leuf Munkler';
}
.post-by-gggta {
  background-image: url('./images/gggta.png');
}
.post-by-gggta::before {
  content: 'Translator of Arabic';
}
.diacritic-beam {
  display: inline-block;
  font-size: 16px;
  transform-origin: bottom;
  user-select: none;
  letter-spacing: -0.1ch;
}
.bullet {
  background-color: white;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  margin: -2.5px;
  box-shadow: 0 0 15px red, 0 0 5px red;
}
